@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --heading-color: #8b96a5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f7fafc;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
/* Navbar_Header */
.navbar-header {
  min-width: 100%;
  height: 86px;
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 800px;
  align-items: center;
}
.navbar-header .logo {
  background-color: white;
}
.navbar-header .logo img {
  background-color: white;
}
/* Header Link */
.header_links {
  background-color: white;
  display: flex;
  gap: 20px;
}
.header_links li {
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
}
.header_links li img {
  background-color: white;
  width: 20px;
  height: 19px;
}
.header_links li a {
  background-color: white;
  font-size: 12px;
  color: var(--heading-color);
}
/* Main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Cart {
  margin-top: 27px;
  width: 1180px;
}
.Cart h1 {
  font-size: 24px;
  font-family: 600;
  margin-bottom: 23px;
}
.Cart_01 {
  display: flex;
  gap: 20px;
  height: 552px;
}
.my_cart {
  width: 880px;
  height: 552px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  background: #fff;
  padding: 23px 20px 21px 20px;
}
/* Cart_items */
.cart-item {
  width: 840px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #dee2e7;
}
.cart-item:nth-child(2) {
  padding-top: 20px;
}
.cart-item:nth-child(3) {
  padding-top: 20px;
}
.Cart_btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.btn-bts {
  display: flex;
  width: 159px;
  padding: 9px 14px 9px 9px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background: #127fff;
  border-radius: 6px;
  color: white;
}
.btn-RA {
  display: inline-flex;
  padding: 0 16px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  background: #fff;
  color: #0d6efd;
}
.cart-left {
  display: flex;
  gap: 12px;
}

.cart-left img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-details h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

.cart-details p {
  margin-top: 6px;
  font-size: 16px;
  color: #8b96a5;
}

.seller {
  font-size: 16px;
  color: #8b96a5;
}

.actions {
  margin-top: 10px;
}

.actions button {
  padding: 0 10px;
  height: 30px;
  font-size: 13px;
  border-radius: 4px;

  border: 1px solid #dee2e7;
  cursor: pointer;
  margin-right: 8.5px;
}

.remove {
  background-color: #fff;
  color: #fa3434;
}

.save {
  background-color: #fff;
  border: 1px solid #dee2e7;
  color: #0d6efd;
}

.cart-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  padding-bottom: 20px;
}

.price {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.qty {
  border-radius: 4px;
  border: 1px solid #dee2e7;
  font-size: 16px;
  padding: 11px 10px;
  display: flex;
  gap: 35px;
  align-items: center;
}
.qty img {
  width: 12px;
  height: 7.41px;
}
/* coupon */
.aside_cart {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.block-coupon {
  width: 280px;
  height: 110px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  background: #fff;
  padding: 20px 16px 22px 16px;
}
.block-coupon p {
  font-size: 16px;
  color: #505050;
}
.Add_coupon {
  width: 247px;
  height: 40px;
  margin-top: 9px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  display: flex;
}
.Add_coupon input {
  border: none;
  /* height: 40px; */
  width: 164px;
  font-size: 16px;
  border-right: 1px solid #dee2e7;
  padding: 11px 5px 10px 10px;
  border-top-left-radius: 6px;
  border-end-start-radius: 6px;
}
.Add_coupon .btn-apply {
  padding: 10px 20.5px;
}
.btn-apply a {
  color: #0d6efd;
  font-size: 16px;
}
/* aside_summary */
.aside_summary {
  width: 280px;
  height: 302px;
  border: 1px solid #dee2e7;
  background: white;
  border-radius: 6px;
  padding: 20px 16px 21px 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #505050;
}
.summary-row:nth-child(3){
  border-bottom: 1px solid #dee2e7;
  padding-bottom: 17px;
}
.Subtotal{
  color: #505050;
}
.discount {
  color: #FA3434;
}

.tax {
  color: #00B517;
}

.total {
  font-weight: bold;
  font-size: 16px;
  margin-top: 23px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.checkout-btn {
  background-color: #00B517;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  width: 248px;
  height: 54px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 18px;
}

.checkout-btn:hover {
  background-color: #009432;
}

.payment-methods {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.payment-methods img {
  height: 22px;
  width: 34px;
}

.Features {
  width: 1180px;
  display: flex;
  gap: 54px;
  margin-top: 30px;
  margin-bottom: 31px;
}
.item_features {
  width: 252px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.item_features img{
  width: 48px;
height: 48px;
}
.item_features_content h4{
  font-size: 16px;
  color: #1C1C1C;
  font-weight: 400;
}
.item_features_content p{
  font-size: 16px;
  color: #A9ACB0;
  font-weight: 400;
}
/* saved_items */
.saved_items {
  padding: 20px 20px;
  width: 1180px;
  height: 475px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  background: #fff;
  margin-bottom: 20px;
  
}
.saved_items h3 {
  font-size: 20px;
  font-weight: 600;
}
.saved_items_products{
  margin-top: 22px;
  display: flex;
  gap: 20px;
}
.items_products{
  display: flex;
  flex-direction: column;
  width: 270px;
height: 382px;
}
.items_products img{
  width: 270px;
height: 240px;
border-radius: 6px;
}
.items_products_content{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.items_products_content a{
  margin-top: 10px;
  color: #606060;
}
.items_products_btn{
  width: 156.58px;
  border-radius: 6px;
  border: 1px solid #dee2e7;
  padding: 9px 16.08px 9px 9px;
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 12.5px;
}
.items_products_btn img{
  width: 18.34px;
height: 18.333px;
}
.items_products_btn a{
  color: #0D6EFD;
  font-size: 16px;
}
/* Banner Section */
.banner_section {
  margin-top: 20px;
  margin-bottom: 41px;
  display: flex;
  /* justify-content: center; */
}

.banner {
  width: 1180px;
  height: 120px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  background: #005ade;
}

.banner svg {
  width: 745px;
  position: absolute;
  top: 0;
  right: 217px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 2;
}

.banner_content_description {
  color: white;
  flex: 1;
}

.banner_content_description h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3px;
  color: white;
  line-height: -0.2px;
}

.banner_content_description p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.4;
}

.banner_content a {
  display: inline-flex;
height: 40px;
padding: 0 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 6px;
color: white;
background:  #FF9017;
}

/* ======= FOOTER SECTION ======= */
.footer1 {
  background-color: white;
  display: flex;
  min-width: 100%;
  height: 256px;
  justify-content: space-evenly;
  align-items: center;
}
.col1 {
  width: 276px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.col1 .logo-img {
  width: 150px;
  height: 46px;
}
#footer1_col1_links {
  display: flex;
  gap: 10px;
}
#footer1_col1_links img {
  cursor: pointer;
}
.col2 {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.col2 li {
  color: var(--heading-color);
}
.col2 li a {
  color: var(--heading-color);
}
.col2 h3 {
  font-weight: 500;
}
.col3 {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.col3 h3 {
  font-weight: 500;
}
.col3 li {
  color: var(--heading-color);
}
.col3 li a {
  color: var(--heading-color);
}
.col4 {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.col4 li a {
  color: var(--heading-color);
}
.col4 h3 {
  font-weight: 500;
}
.col5 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-style: normal;
}
.col5 h3 {
  font-weight: 500;
}
.col5 li a {
  color: var(--heading-color);
}
.col6 {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.col6 h3 {
  font-weight: 500;
}
.col6 img {
  width: 124px;
  height: 42px;
  cursor: pointer;
}

/* Footer2 */
.footer2 {
  background: #eff2f4;
  width: 100%;
  height: 68px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer2 p {
  color: #606060;
}
.language-selector {
  width: 107px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px 6px;
  /* font-size: 13px; */
  font-family: Arial, sans-serif;
  background: #eff2f4;
  cursor: pointer;
  position: relative;
}

.selected {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
}

.selected img {
  width: 22px;
  height: 16px;
}

.arrow {
  font-size: 12px;
  color: #333;
  padding-left: 5px;
}
.dropdown {
  position: absolute;
  top: -210px;
  left: 0;
  width: 107px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  z-index: 10;
}

.dropdown div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 13px;
}

.dropdown div:hover {
  background: #f0f0f0;
}

.dropdown img {
  width: 20px;
  height: 14px;
}
